Options -Indexes
<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

RewriteEngine   on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php  [last]